h1, h2, h3, h4 {
	font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-weight: bold;
	color: #c80;
	}

a, h2 a:hover, h3 a:hover {
	color: #c80;
	text-decoration: none;
	}

html {
	/* cf. http://www.hicksdesign.co.uk/journal/forcing-scrollbars-now-even-better */
	height: 100%;
	margin-bottom: 1px;
}

body {
	font-size: 62.5%; /* Resets 1em to 10px */
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    background-color: black;
    color: #e0e0e0;
	text-align: center;
	min-width: 760px;
}

#page {
	background-color: black;
	margin: auto;
	padding: 0;
	width: auto;
/*	border: 1px solid #a0a0a0;  */
}

/* Begin Header/Banner */
#header {
	padding: auto;
	margin: auto;
	width: 100%;
}

#header h1 {
    padding: 0 0 0 20%;
    font-size: 3.5em;
    text-align: left;
}

#headerimg {
	margin: 0;
	height: 30px;
	width: 100%;
	position: top;
    background-color: black;
    background-repeat: repeat-x;
    border: none;
}

img.header {
    margin: 3% auto;
    padding: 0;
    width: auto;
    border: 1px solid #959596;
}

/* End Header/Banner */

/* Begin Navigation Menu */
#navmenu {
	margin: 0;
	height: 24px;
	width: 100%;

    background-color: black;
    background-image: url("images/hrule.jpg");
    background-position: bottom;
    background-repeat: repeat-x;
    border: none;
}

#navmenutext {
    text-align: right;
    margin: 0 0 0 0;
    padding: 0 1% 0 0;
    font-size: 16px;
    font-style: normal;
}

#navmenu ul {
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding-bottom: 20px;
}

#navmenu li {
    display: inline;
    padding: 0px 4px;
}

#navmenu a:link, #navmenu a:visited {
    color: white;
}

#navmenu a:hover {
    color: #c80;
	text-decoration: none;
}

/* End Navigation Menu */

#content {
    margin: 20px auto;
    width: 90%;
	font-size: 1.2em;
	text-align: justify;
}

#groupphoto {
    align: center;
    font-size: .5em;
}

#groupphoto img {
    margin: 3% auto;
    width: 90%;
}

img.widthscaled {
    margin: 2% 2% 2% 2%;
    width: 75%; 
}

/* Tables */
table.people {
    width:95%;
    border: 0;
    border-spacing: 1em;

    font-size: 1em; 
}

table.people td {
    vertical-align: top;
}

